/*featurerette*/
.custom-featurette {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

.shadow-down {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); /* Shadow only on the lower edge */
}

